# Ignore adding specific files from Vim-jukit
*.py
!0.download_data/*.py
!/**/nbconverted/*.py
**/.jukit/
!/**/utils/*.py

# Ignore irrelevant files + hidden files
.ipynb_checkpoints/
.virtual_documents/
__pycache__/
!/**/utils/*.py

# Ignore mac related files
*.DS_Store

# Ignore data folder in UMAP analysis (>5GB)
3.analyze_data/UMAP_analysis/data
